<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Email</th>
        <th>Name</th>
        <th>Cellphone</th>
        <th>County Code</th>
        <th>Authy ID</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.cellphone %></td>
          <td><%= user.country_code.code if user.country_code.present? %></td>
          <td><%= user.authy_id %></td>
          <td>
            <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
