<div class="col-xs-12 col-sm-12 col-md-12">
  <div class="col-xs-6 col-md-4 vert-padding-top-2">
    <%= image_tag(@product.image.url(:thumb), :class => 'thumbnail_image') %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="row">
      <h3><%= @product.title %></h3>
      <h4><%= @product.writer_name %></h4>
    </div>
    <div class="row">
      <h6><%= @product.description %></h6>
    </div>
    <div class="row">
      <h6>Pages: <%= @product.no_of_pages %> pages</h6>
      <h6>Publisher: <%= @product.publisher %></h6>
      <h6>Publication Date: <%= @product.publication_date %></h6>
      <h6>
        Category: <a href="<%= category_path(@product.category) %>"><%= @product.category.name %></a>
      </h6>
      <h6>ISBN: <%= @product.isbn %></h6>
    </div>
    <div class="row vert-padding-top-1">
      <%=raw render_add_to_basket(@product) %>
    </div>
  </div>
</div>
