<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "E-File Cart #{user_name}", root_path, class: 'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to('eBooks', root_path) %>
        </li>
        <li>
          <%= link_to('Contact', contact_path) %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to('My Account', my_account_path) %>
          </li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Register', new_user_registration_path)  %>
          </li>
          <li>
            <%= link_to new_user_session_path, class: 'login-button' do %>Sign in<% end %>
          </li>
        <% end %>
      </ul>

      <div class="col-md-4 pull-right vert-padding-top-1">
        <div class="col-md-4  pull-right">
          <a href="<%= cart_path %>" class="btn btn-primary">View Basket</a>
        </div>
        <div class="col-sm-6 bg-info pull-right js-cart_info">
          <%= show_cart_info %>
        </div>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
